<!DOCTYPE html>
<html>
<head>
    <title>Stroke Prediction System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="/dashboard">Hospital</a>

    {% if session.get("user_id") %}
    <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
    {% endif %}
</nav>

<div class="container mt-4">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, msg in messages %}
                <div class="alert alert-{{ category }}">{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</div>

</body>
</html>
